# Load The Flake's Default DevShell
use flake

# Introductory Message
echo "-----Zenko64's NixOS Development Shell-----"
echo "Commands:"
echo " - netdev: Start Installer PXEServer with OpenSSH Enabled."
echo "-------------------------------------------"
